
[Container]
Image=docker.io/standalone:latest
LogDriver=journald
LogOpt=label=QUADLET=nodeps
LogOpt=label=QUADLET_UNIT_NAME=nodeps
LogOpt=label=IMAGE=docker.io/standalone:latest

[Quadlet]
DefaultDependencies=false

[Install]
WantedBy=default.target
