[Unit]
Requires=database.service
After=database.service
After=internet-egress-network.service

[Container]
Image=docker.io/myapp:latest
ContainerName=app
Network=internet-egress.network
LogDriver=journald
LogOpt=label=QUADLET=app
LogOpt=label=QUADLET_UNIT_NAME=app
LogOpt=label=IMAGE=docker.io/myapp:latest

[Install]
WantedBy=multi-user.target
