
[Container]
Image=docker.io/myapp:latest
ContainerName=app
Network=proxy-backend.network
Volume=app.volume:/data
LogDriver=journald
LogOpt=label=QUADLET=app
LogOpt=label=QUADLET_UNIT_NAME=app
LogOpt=label=IMAGE=docker.io/myapp:latest

[Install]
WantedBy=multi-user.target
