[Unit]
Requires=app.service
After=app.service

[Container]
Image=docker.io/haproxy:latest
ContainerName=proxy
Network=backend.network

[Install]
WantedBy=multi-user.target
