[Unit]
Requires=app.service
After=app.service

[Container]
Image=docker.io/haproxy:latest@sha256:0e81cf4a7fac4f689289ae2afd29e1153e9e6d69ae3fb0c1f0345f998643c258
ContainerName=proxy
Network=proxy-backend.network
LogDriver=journald
LogOpt=label=QUADLET=proxy
LogOpt=label=QUADLET_UNIT_NAME=proxy
LogOpt=label=IMAGE=docker.io/haproxy:latest

[Install]
WantedBy=multi-user.target
