
[Container]
Image=docker.io/app:latest
AddDevice=/dev/fuse
AddDevice=-/dev/kvm
AddDevice=/dev/net/tun:/dev/net/tun:rwm
UIDMap=0:100000:65536
UIDMap=+1:@1000:1
GIDMap=0:100000:65536

[Install]
WantedBy=multi-user.target
