
[Container]
Image=docker.io/redis:7@sha256:71da9275c5f3fcb97d0fa0c8c5b36cc995327265420f17a04bfd544f458059f7
LogDriver=journald
LogOpt=label=QUADLET=cache
LogOpt=label=QUADLET_UNIT_NAME=cache
LogOpt=label=IMAGE=docker.io/redis:7

[Install]
WantedBy=default.target
