
[Container]
Image=docker.io/myapp:latest
ServiceName=custom-myapp
LogDriver=journald
LogOpt=label=QUADLET=myapp
LogOpt=label=QUADLET_UNIT_NAME=myapp
LogOpt=label=IMAGE=docker.io/myapp:latest

[Install]
WantedBy=default.target
