
[Container]
Image=docker.io/nginx:latest@sha256:b34848eff6db786b6b1282d3a9c3fd0b5563dfb6d261df4923378b419e0d24f0
ContainerName=nginx
LogDriver=journald
LogOpt=label=QUADLET=nginx
LogOpt=label=QUADLET_UNIT_NAME=nginx
LogOpt=label=IMAGE=docker.io/nginx:latest

[Install]
WantedBy=default.target
