
[Container]
Image=docker.io/secure:latest
HttpProxy=true
NoNewPrivileges=true
SeccompProfile=/etc/seccomp.json
AppArmor=container-default
SecurityLabelFileType=container_file_t
SecurityLabelType=container_t
SecurityLabelLevel=s0:c100,c200
SecurityLabelNested=true
ReadOnly=true
ReadOnlyTmpfs=true
Mask=/proc/latency_stats
Unmask=/proc/acpi
LogDriver=journald
LogOpt=label=QUADLET=secure
LogOpt=label=QUADLET_UNIT_NAME=secure
LogOpt=label=IMAGE=docker.io/secure:latest
Pod=mypod.pod
StartWithPod=true

[Install]
WantedBy=default.target
